<app-header></app-header>



<div class="container p-4">
  <div class="card">
    <div class="card-body">

      <h3 class="card-title">
         Add Order
      </h3>



      <!-- <h3 class="card-title">
          <button class="btn btn-success" (click)="OpenModal">Show Data</button>
      </h3> -->

      <form class="row mx-5 g-3" #new_form="ngForm">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">ProductName</label>
          <!-- <input type="Dropdown" name="ProductName" #title="ngModel" [(ngModel)]="carak_data.ProductName" class="form-control" > -->

          <div class="col-sm-10">
            <select name="productName" #phone="ngModel" [(ngModel)]="carak_data.productName" class="form-control">
              <option>--Select--</option>
              <option *ngFor="let dep of DepartmentList"  [value]="dep.productName" >
                  {{dep.productName}}
              </option>


            </select>
          </div>


        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Quantity</label>
          <!-- <input type="email" name="Quantity" #title="ngModel" [(ngModel)]="carak_data.Quantity" class="form-control" > -->
            <input type="text" name="quantity" #quantity="ngModel" [(ngModel)]="carak_data.quantity"  class="form-control" id="inputCity">

        </div>

        <!-- <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Price</label>
          <input type="text" name="Price" #title="ngModel" [(ngModel)]="carak_data.Price" class="form-control" >
        </div> -->


        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">PhoneNum</label>
          <input type="Phone" name="phoneNum" #phoneNum="ngModel" [(ngModel)]="carak_data.phoneNum" class="form-control" >
        </div>
        <div class="col-6">
          <label for="inputAddress" class="form-label">Date</label>
          <input type="date" name="date" #date="ngModel" [(ngModel)]="carak_data.date" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary" (click)="onSave(new_form)"
           [routerLink]="['/displaydata']">Order </button>
        </div>
        </form>
    </div>
  </div>
</div>
