<app-header></app-header>

<br />



<div class="container">
  <div class="col-md-12 m-0">
    <h1>Product Details</h1>
  <table class="table table-hover table-bordered table-striped">
    <!-- class="table table-sm table-bordered" -->
    <thead class="bg-info  ">
    <tr class="text-center mt-2">
      <th scope="col">id</th>
      <th scope="col">ProductName</th>
      <th scope="col">Quantityth</th>
      <!-- <th scope="col">Price</th> -->
      <th scope="col">PhoneNum</th>
      <th scope="col">Date</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
<tbody>
  <ng-container>
    <tr *ngFor="let user of event_list;let i=index">
      <td>{{i+1}}</td>
      <td>{{user.productName}}</td>
      <td>{{user.quantity}}</td>
      <td>{{user.phoneNum}}</td>
      <td>{{user.date | date :'yyyy MMM dd'}}</td>

      <td><button class="btn btn-success  p-1 h-50" [routerLink]="['/updateCarak/' + user.id]"><i class="fa fa-pencil-square"></i> </button></td>
      <td><button class="btn btn-danger  p-1 h-50" [routerLink]="['/deleteCarak/' + user.id]"><i class="fa fa-trash" ></i> </button></td>

    </tr>
  </ng-container>
  </tbody>
  </table>
</div>
</div>
